---

---

<section class="border-t-2 border-zinc-800 pt-4 pb-24" >
	<h3 class="text-xl pt-8 text-purple-200">Semi-modular System</h3>
	
		<div class="gap-8 columns-1 sm:columns-2 mt-8">	
		
			<section>
				<h4 class="text-lg pb-4 text-zinc-200">Moog</h3>	
				<p class="text-sm text-zinc-300">Sint similique ipsa doloremque. Facere amet temporibus unde quae expedita. Quas dicta ex voluptatum quia sit.</p>
			</section>
			<section>
				<h4 class="text-lg pb-4 text-zinc-200">Make Noise</h3>	
				<p class="text-sm text-zinc-300">Sint similique ipsa doloremque. Facere amet temporibus unde quae expedita. Quas dicta ex voluptatum quia sit.</p>
			</section>
			
		</div>

</section>